*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #111;
}

.nav-bar h1{
    color: white;
    font-size: 24px;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover{
    color:#00bcd4
}

@media (max-width: 768px){
    .nav-links{
        flex-direction: column;
        gap: 15px;
        padding: 20px 0;
    }
}

.hero{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px 40px;
}

.hero-text h2{
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-text p{
    font-size: 18px;
    margin-bottom: 20px;
}

.btn{
    text-decoration: none;
    color: white;
    background-color: #00bcd4;
    padding: 10px 20px;
    border-radius: 5px;
}

.hero-img img{
    width: 300px;
    max-width: 100%;
}

@media (max-width:768px){
    .hero{
        flex-direction: column;
        text-align: center;
    }

    .hero-img{
        margin-top: 20px;
        margin-left: 55px;
    }
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
}

.about-img img{
    width: 300px;
    max-width: 100%;
}

@media(max-width:768px){
    .about{
        flex-direction: column;
        text-align: center;
    }

    .about-img{
        margin-top: 20px;
    }
}

.project{
    padding: 60px 40px;
}

.project h2{
    text-align: center;
    margin-bottom: 40px;
}

.project-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 20px; 
}

.project-card{
    background-color: #eee;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.counter-section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 60px 40px;
    background-color: #f5f5f5;
}

.counter h2{
    font-size: 36px;
    color: #00bcd4;
}

.counter p{
    font-size: 16px;
}

@media(max-width:768px){
    .counter-section{
        flex-direction: column;
        text-align: center;
    }

    .counter{
        margin-bottom: 20px;
    }
}

.footer{
    background-color: #111;
    color: white;
    padding: 40px 20px;
}

.footer h3{
    margin-bottom: 10px;
}

.footer p{
    margin-bottom: 20px;
}

.socail{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding:0;
}

.socail a{
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.socail a:hover{
    color: #00bcd4;
}

@media (max-width:768px){
    .socail{
        flex-direction: column;
        gap: 10px;
    }
}